html, body {
    height: 100%;
}
.main-container {
    height: 100%;
    margin-top:-73px;
}
.navbar {
    z-index: 500;
}
.ide-editor {
    height:100%;
    margin-top: -89px;
    padding-top:104px;
}
.ide-log {
    background-color: #1E3F4A;
    height: 100%;
    color: #DFFF0F;

    padding-top:65px;
    overflow-y: scroll;
}

.log-input {
    /*margin-top:-50px;*/
}

#cmd-input {
    margin-bottom: 5px;
}

.ide-log pre {
    margin-bottom: 5px;
}

#editor {
    margin-top:5px;
    width:100%;
    height:100%;
}